*{
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    overflow-x: hidden;
}
.carousel_container{
    height: 40vw;
}
.logo{
    font-size: 2vw;
}
.link-text{
    font-size: 1.7vw;
}
.carousel_content{
    background-color: rgba(255, 255, 255, 0.185);
    border: 1px solid black;
    box-shadow: 0.2vw 0.2vw 2vw 0.2vw;
    width: fit-content;
    height: fit-content;
    margin-top: 10vw;
}
.carousel_content h1{
    font-size: 2.5vw;
    margin: 2vw 3vw;
    padding-bottom: 1vw;
    overflow: hidden;
    font-weight: 600;
    text-align: center;
}
.carousel_content p{
    text-align: center;
    margin: 2vw 3vw;
    font-weight: 400;
    font-size: 2vw;
}
.products_h1{
    overflow-y: hidden;
    font-size: 2vw;
    text-align: center;
    margin-top: 4vw;
    margin-bottom: 4vw;
    font-weight: normal;
    color: rgb(94, 94, 94);
}
.product_item{
    background-color: rgb(202, 202, 202);
    width: 15vw;
    height: 13vw;
}
.product_info {
    text-align: center;
    font-size: 1vw;
}
#desktopview{
    margin-bottom: 4vw;
}
#mobilehdn{
   visibility: hidden;
   display: none;
}



.contact{
    background-color: rgb(194, 194, 194);
    border: 1px solid black;
    padding: 3vw;
}
.center_con{
    width: fit-content;
}
.contact h1{
    overflow-y: hidden;
    text-align: center;
    font-size: 2vw;
    margin-bottom: 1.5vw;
    color: rgb(94, 94, 94);
    border-bottom: 0.3vw solid rgb(94, 94, 94);
}
.contact p{
    text-align: center;
    font-size: 1.5vw;
}


.foot{
    font-size: 1.7vw;
    font-weight: bolder;
    text-align: center;
    margin-top: 1vw;
    margin-bottom: 1vw;
}

/* products page*/

.products_row{
    display: flex;
    margin-bottom: 2vw;
}
.products_row .product_item{
    margin-right: 4vw;
    margin-left: 2.3vw;
}


@media (max-width: 576px) {
    .carousel_container{
        height: fit-content;
    }

    .logo{
        font-size: 3vw;
    }
    .link-text{
        font-size: 2.5vw;
    }
    .carousel_container_mob{
        height: fit-content;
        margin-top: 2vw;
    }
   #desktopview{
      display: none;
   }
   #mobilehdn{
      visibility: visible;
      display: block;
   }
   /*Product mobile view*/
   .product_item{
       width: 50vw;
       height: 45vw;
    
   }
   .products_h1{
      font-size: 4vw;
      margin-bottom: 0vw;
   }
   .product_info{
      font-size: 3vw;
      margin-bottom: 8vw;
   }
   .product_indicator{
        overflow: hidden; 
        color: black; 
        font-size: 3.5vw; 
        width: 5vw; 
        height: 5vw;
   }
   /* End Product mobile view*/

.center_con{
    width: fit-content;
}
.contact h1{
    font-size: 5vw;
    margin-bottom: 3vw;
}
.contact p{
    font-size: 3vw;
}


.foot{
    overflow: hidden;
    font-size: 2.8vw;
    margin-top: 1.5vw;
    margin-bottom: 1.5vw;
}
}
